Repository DenianFossatti/customers-list-native-base: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn lint:fix, yarn sort-package-json

chore: commitlint config
  commitlint.config.js
Due: yarn prettier --write, yarn lint:fix

chore: improve lint config
  .prettierrc.js
Due: yarn prettier --write, yarn lint:fix

feat: added react-navigation
  android/app/src/main/java/com/customerslist/MainActivity.java
  package.json
  yarn.lock
Due: yarn prettier --write, yarn sort-package-json

chore: improve tsconfig
  tsconfig.json
Due: none

feat: add usePaginatedList hook
  src/hooks/usePaginatedList.tsx
Due: yarn prettier --write, yarn lint:fix

feat: add customers data and components
  App.js
  index.js
  package.json
  src/App.tsx
  src/components/CustomersCard.tsx
  src/data/customers.json
  src/router/AppRouter.tsx
  src/screens/CustomersList.tsx
  yarn.lock
Due: yarn prettier --write, yarn lint:fix, yarn sort-package-json

ci: add lint workflow
  .github/workflows/lint.yml
Due: yarn prettier --write

feat: add design-system tokens
  src/App.tsx
  src/nativeBase/Theme.tsx
  src/nativeBase/base/colors.ts
  src/nativeBase/base/config.ts
  src/nativeBase/base/index.ts
  src/nativeBase/base/radius.ts
  src/nativeBase/base/shadows.ts
  src/nativeBase/base/sizes.ts
  src/nativeBase/base/typography.ts
  src/nativeBase/components/Button.tsx
  src/nativeBase/components/Pressable.tsx
  src/nativeBase/components/index.ts
Due: yarn prettier --write, yarn lint:fix

fix: react-navigation types
  src/router/AppRouter.tsx
  tsconfig.json
  types/navigation.d.ts
Due: yarn prettier --write, yarn lint:fix

feat: customerList screen
  src/components/CustomersCard.tsx
  src/hooks/usePaginatedList.tsx
  src/screens/CustomerDetails.tsx
  src/screens/CustomersList.tsx
Due: yarn prettier --write, yarn lint:fix

feat: add useDebounce on search field and ListFooterComponent
  src/components/FlatListFooter.tsx
  src/data/customersProvider.detox.js
  src/data/customersProvider.js
  src/hooks/useDebounce.ts
  src/hooks/usePaginatedList.tsx
  src/screens/CustomersList.tsx
Due: yarn prettier --write, yarn lint:fix

test: improve CustomersList e2e tests
  e2e/__tests__/CustomersList.e2e.ts
  src/App.tsx
Due: yarn prettier --write, yarn lint:fix

feat: change header style
  src/router/AppRouter.tsx
Due: yarn prettier --write, yarn lint:fix

feat: added button to clean input
  src/screens/CustomersList.tsx
Due: yarn prettier --write, yarn lint:fix

docs: improve readme
  README.md
  Readme.md
Due: none

ci: add android e2e test workflow
  .github/workflows/e2e_android.yml
  .github/workflows/lint.yml
Due: yarn prettier --write

docs: improve readme
  README.md
Due: none

fix: remove slice from customersProvider
  src/data/customersProvider.js
Due: yarn prettier --write, yarn lint:fix

fix(release-crash): add svg in proguard-rules
  android/app/proguard-rules.pro
Due: none

Path conditions:
  yarn prettier --write: ((any of: *.yml) or (any of: *.{ts,tsx,js})) or (any of: package.json)
  yarn lint:fix: any of: *.{ts,tsx,js}
  yarn sort-package-json: any of: package.json
